@import "../../styles/utils/variables.scss";
@import "../../styles/mixins/mixin.scss";

.container-projectForm {
  width: 100%;

  .wrapper-input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .labelForm {
      font-weight: bold;
    }

    .input-form {
      margin-bottom: 10px;
      outline: none;
      padding: 10px;
      font-size: 15px;
      border: none;
      color: $color-gray-2;
    }
    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
