// Colors

$color-white: #fff;

$color-black: #000;
$color-black-3: #222;

$color-yellow-2: #fce34c;

$color-orange-3: #fccc40;

//Media query

$l-device: 1024px;
$m-device: 760px;
$s-device: 580px;
$sm-device: 384px;
