@mixin container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 16px;
}

@mixin min-height {
  min-height: 100vh;
  background-color: #eeeeee;
}

@mixin btn {
  background-color: #222;
  color: #fccc40;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
